header {
  background: rgb(23, 29, 37);
  height: 150px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

#logo {
  max-width: 450px;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  margin-left: 0%;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: azure;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

body {
  background: rgb(28, 45, 70);
}

.carousel {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
}

img {
  padding: 20px;
  width: 80%;
  height: auto;
}

#TEXT1 {
  position: absolute;
  font-family: sans-serif;
  font-size: 40px;
  color: azure;
  display: inline-block;
}
#TEXT2 {
  position: absolute;
  font-family: sans-serif;
  font-size: 40px;
  color: azure;
  display: inline-block;
}
#TEXT3 {
  position: absolute;
  font-family: sans-serif;
  font-size: 40px;
  color: azure;
  display: inline-block;
}

#TEXT8 {
  position: absolute;
  font-family: sans-serif;
  font-size: 40px;
  color: #5ba32b;
  display: inline-block;
  top: 50px;
}

#TEXT81 {
  position: absolute;
  font-family: sans-serif;
  font-size: 40px;
  color: #5ba32b;
  display: inline-block;
  top: 50px;
}

#TEXT82 {
  position: absolute;
  font-family: sans-serif;
  font-size: 40px;
  color: #5ba32b;
  display: inline-block;
  top: 200px;
}
